body{
    background-color: black;
}

.row{
    margin-right: -4px;
}

.row div{
    width: 20px;
    height: 20px;
    border: 2px solid black;
    display: inline-block;
}

.brick{
    background-color: blue;
}

.coin{
    background: teal;
}


.pacman{
    background: red;
}

.sprite{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}