#background {
	border: 1px solid black;
	width: 970px;
	height: 1000px;
}

#header {
	border: 1px solid red;
	/*width: 810px;*/
	height: 150px;
}

#header-left{
	border: 1px solid red;
	width: 400px;
	height: 150px; 
	background-color: green;
	display: inline-block;
	vertical-align: top;
}
#header-left img{
	width: 300px;
	height: 75px;
	margin: 2px 2px 2px 2px;
	/*display: inline-block;*/
}
#header-right {
	border: 1px solid red;
	width: 400px;
	height: 150px;
    float:right;
	background-color: blue;
	display: inline-block;
}
#top p {
	display: inline;
	width:80px;
}
#top ul {
	display: inline;
}
#top ul li {
	display: inline;
}
#top a {
	color: yellow;
}
#bottom {
	background-color: gray;
		width: 250px;
		height: 50px;
}

#bottom button {
	background-color: blue;
	border-radius: 5px;
	color: white;
}
#nav {
	border: 1px solid green;
    width: 721px;
    height: 60px;
    /*margin-left: 32px;*/
    margin: 0px auto;
}
#nav li{
	width: 100px;	
	height: 50px;
	margin: 2px 2px 2px 2px;
	padding: 1px 1px 1px 1px;
	display: inline-block;
}

#body {
	border: 1px solid purple;
	height: 400px;
    margin: 0px auto;
}
#body_left{
	display: inline-block;
}
#body_left ul{
	display: inline-block;
    line-height: 180%;
}


.center_bottom_body{
    width: 640px;
    float: right;
	vertical-align: top;
    margin: 0px 70px;
    text-align: center;
}

.center_bottom_body ul{
	width: 250px;
	height:	200px;
    margin: 50px auto;

}
.center_bottom_body li{
    line-height: 150%;
}